In [1]:
import pandas as pd
import datetime

In [61]:
q1 = pd.read_csv('../waqi_data/waqi-covid19-airqualitydata-2023Q1.csv', skiprows=4)
q2 = pd.read_csv('../waqi_data/waqi-covid19-airqualitydata-2023Q2.csv', skiprows=4)
q3 = pd.read_csv('../waqi_data/waqi-covid19-airqualitydata-2023Q3.csv', skiprows=4)
q4 = pd.read_csv('../waqi_data/waqi-covid19-airqualitydata-2023Q4.csv', skiprows=4)

In [60]:
q1.Date.max(),q2.Date.min(), q2.Date.min(),q2.Date.max(), q3.Date.min(),q3.Date.max(),q4.Date.min(), q4.Date.max()

('2023-04-02',
 '2023-03-27',
 '2023-03-27',
 '2023-07-02',
 '2023-06-26',
 '2023-10-01',
 '2023-09-25',
 '2023-12-31')

In [2]:
# Merge all the dataframes into a single dataframe
# merged_df = pd.concat([q1, q2, q3, q4], ignore_index=True)

merged_df = pd.read_csv('../waqi-covid19-airqualitydata-2025.csv', skiprows=4)



merged_df.Date.max()

'2025-04-17'

In [9]:
q1.columns

Index(['Date', 'Country', 'City', 'Specie', 'count', 'min', 'max', 'median',
       'variance'],
      dtype='object')

In [67]:
def process_city_data(df):
    # Convert 'Date' column to datetime
    df.loc[:, 'Date'] = pd.to_datetime(df['Date']).dt.date
    
    # Get unique cities
    cities = df[df['Country'] == 'NP']['City'].unique()
    
    # Dictionary to store the processed dataframes
    city_dataframes = {}
    
    for city in cities:
        city_df = df[df['City'] == city]
        
        # Pivot the dataframe to create new columns for each specie
        city_pivot = city_df.pivot_table(index=['Date', 'Country', 'City'], columns='Specie', values='median', aggfunc='first')
        
        # Flatten the multi-level columns
        city_pivot.columns = ['_'.join(col).strip() for col in city_pivot.columns.values]
        
        # Reset the index to make 'Date', 'Country', and 'City' columns again
        city_pivot.reset_index(inplace=True)
        
        # Store the processed dataframe in the dictionary
        city_dataframes[city] = city_pivot
    
    return city_dataframes

# Process the data for all cities in merged_df
city_dataframes = process_city_data(merged_df)

# Example: Access the processed dataframe for Kathmandu
ktm_city_pivot = city_dataframes['Kathmandu']
ktm_city_pivot.head()

,Date,Country,City,d_e_w,h_u_m_i_d_i_t_y,p_m_1,p_m_1_0,p_m_2_5,p_r_e_s_s_u_r_e,t_e_m_p_e_r_a_t_u_r_e,w_i_n_d_-_g_u_s_t,w_i_n_d_-_s_p_e_e_d
0,2022-12-26,NP,Kathmandu,5.0,73.5,130.0,51.0,143.0,1020.0,10.0,NaN,0.7
1,2022-12-27,NP,Kathmandu,3.0,75.9,143.0,51.0,151.0,1017.0,8.6,NaN,0.7
2,2022-12-28,NP,Kathmandu,3.0,79.6,133.0,52.0,149.0,1017.0,8.5,NaN,1.0
3,2022-12-29,NP,Kathmandu,4.5,81.4,157.0,58.0,163.0,1020.0,8.3,NaN,0.7
4,2022-12-30,NP,Kathmandu,5.0,81.9,158.0,58.0,163.0,1022.0,8.0,NaN,0.6

In [68]:
ktm_city_pivot.sort_values('Date', inplace=True)

In [69]:
# Convert the 'Date' column to datetime
ktm_city_pivot['Date'] = pd.to_datetime(ktm_city_pivot['Date'])

# Create a date range from the minimum to the maximum date in the dataframe
full_date_range = pd.date_range(start=ktm_city_pivot['Date'].min(), end=ktm_city_pivot['Date'].max())

# Find the missing dates by comparing the full date range with the dates in the dataframe
missing_dates = full_date_range.difference(ktm_city_pivot['Date'])

missing_dates

DatetimeIndex(['2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06',
               '2023-07-07', '2023-07-08', '2023-07-09', '2023-07-10',
               '2023-07-11', '2023-07-12', '2023-07-13', '2023-07-14',
               '2023-07-15', '2023-07-16', '2023-07-17', '2023-07-18',
               '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-22',
               '2023-07-23', '2023-07-24', '2023-07-25', '2023-07-26',
               '2023-07-27', '2023-07-28', '2023-07-29', '2023-07-30',
               '2023-07-31', '2023-08-01', '2023-08-02', '2023-08-03',
               '2023-08-04', '2023-08-05', '2023-08-06', '2023-08-07',
               '2023-08-08', '2023-08-09', '2023-08-10', '2023-08-11',
               '2023-08-12', '2023-08-13', '2023-08-14', '2023-08-15',
               '2023-08-16', '2023-08-17', '2023-08-18', '2023-08-19',
               '2023-08-20', '2023-08-21', '2023-08-22', '2023-08-23',
               '2023-08-24', '2023-08-25', '2023-08-26', '2023-08-27',
               '2023-08-28', '2023-08-29', '2023-08-30', '2023-08-31',
               '2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04',
               '2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08',
               '2023-09-09', '2023-09-10', '2023-09-11', '2023-09-12',
               '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-16',
               '2023-09-17', '2023-09-18', '2023-09-19', '2023-09-20',
               '2023-09-21', '2023-09-22', '2023-09-23', '2023-09-24'],
              dtype='datetime64[ns]', freq='D')

In [78]:
pokhara_data = city_dataframes['Pokhara']

# Create a date range from the minimum to the maximum date in the dataframe
full_date_range = pd.date_range(start=pokhara_data['Date'].min(), end=pokhara_data['Date'].max())

# Find the missing dates by comparing the full date range with the dates in the dataframe
missing_dates = full_date_range.difference(pokhara_data['Date'])

pokhara_data.isna().sum()

Date                      0
Country                   0
City                      0
d_e_w                    42
h_u_m_i_d_i_t_y           9
p_m_1                    17
p_m_1_0                  17
p_m_2_5                  17
p_r_e_s_s_u_r_e          42
t_e_m_p_e_r_a_t_u_r_e     9
w_i_n_d_-_s_p_e_e_d       9
dtype: int64

In [77]:
Biratnagar_data = city_dataframes['Biratnagar']

# Create a date range from the minimum to the maximum date in the dataframe
full_date_range = pd.date_range(start=Biratnagar_data['Date'].min(), end=Biratnagar_data['Date'].max())

# Find the missing dates by comparing the full date range with the dates in the dataframe
missing_dates = full_date_range.difference(Biratnagar_data['Date'])

Biratnagar_data.shape

missing_dates

DatetimeIndex(['2023-03-15', '2023-03-16', '2023-03-17', '2023-03-18',
               '2023-03-19', '2023-03-20', '2023-03-21', '2023-03-22',
               '2023-03-23', '2023-03-24',
               ...
               '2023-09-15', '2023-09-16', '2023-09-17', '2023-09-18',
               '2023-09-19', '2023-09-20', '2023-09-21', '2023-09-22',
               '2023-09-23', '2023-09-24'],
              dtype='datetime64[ns]', length=107, freq=None)

### Main code to convert and create the yearly dataset

In [5]:
import pandas as pd
from datetime import datetime

# Load the quarterly data

q1 = pd.read_csv('../year_2019/waqi-covid19-airqualitydata-2019Q1.csv', skiprows=4)
q2 = pd.read_csv('../year_2019/waqi-covid19-airqualitydata-2019Q2.csv', skiprows=4)
q3 = pd.read_csv('../year_2019/waqi-covid19-airqualitydata-2019Q3.csv', skiprows=4)
q4 = pd.read_csv('../year_2019/waqi-covid19-airqualitydata-2019Q4.csv', skiprows=4)

# Combine all quarterly data into a single DataFrame

merged_df = pd.concat([q1, q2, q3, q4], ignore_index=True)
# merged_df = pd.read_csv('../datafiles/waqi-covid19-airqualitydata-.csv', skiprows=4)

# merged_df = pd.read_csv('../waqi-covid19-airqualitydata-2025.csv', skiprows=4)



# Convert 'Date' column to datetime
merged_df['Date'] = pd.to_datetime(merged_df['Date'])

# Filter data for Nepal
nepal_df = merged_df[merged_df['Country'] == 'NP']

# Get unique cities in Nepal
cities = nepal_df['City'].unique()

# Define the date range for the entire year 
date_range = pd.date_range(start=merged_df['Date'].min(), end=merged_df['Date'].max(), freq='D')

# Function to process and save city data
def process_and_save_city_data(city_df, city_name):
    # Pivot the dataframe to create columns for each specie
    city_pivot = city_df.pivot_table(index='Date', columns='Specie', values='median', aggfunc='first')
    
    # Reindex to include all dates in  and fill missing values
    city_pivot = city_pivot.reindex(date_range)
    
    # Reset index to make 'Date' a column
    city_pivot.reset_index(inplace=True)
    city_pivot.rename(columns={'index': 'Date'}, inplace=True)
    
    # Save the processed data to a CSV file
    city_pivot.to_csv(f'../year_2019/{city_name}_2019.csv', index=False)
    
    return pd.DataFrame(city_pivot)

# Process and save data for each city
for city in cities:
    city_df = nepal_df[nepal_df['City'] == city]
    process_and_save_city_data(city_df, city)

In [6]:
df = pd.read_csv('../year_2019/Kathmandu_2019.csv')

df.drop(columns=['wind speed','wind-gust'], inplace=True)

df.to_csv('../year_2019/Kathmandu_2019.csv', index=False)

In [3]:
df = pd.read_csv('../year_2021/Kathmandu_2021.csv')
df.columns

Index(['Date', 'dew', 'humidity', 'pm1', 'pm10', 'pm25', 'pressure',
       'temperature', 'wind-gust', 'wind-speed'],
      dtype='object')