In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('../year_2024_2025/Kathmandu_2024_2025.csv')


df.drop(columns=['wind-gust'], inplace=True)


df.to_csv('../year_2024_2025/Kathmandu_2024_2025.csv', index=False)

### dropping the wind-gust columns from all the datasets

In [8]:
# dropping the wind-gust columns from all the databases
def drop_wind_gust(dfs):
    for df in dfs:
        df.drop(columns=['wind-gust'], inplace=True)
    return dfs

In [9]:
ktm_df =[]
# reading all the Kathmandu databases
for i in range(2021, 2025):
    ktm_df.append(pd.read_csv(f'../year_{i}/Kathmandu_{i}.csv'))
    
# ktm_df = drop_wind_gust(ktm_df)

In [10]:
# # saving the cleaned data

# for i in range(2021, 2025):
#     ktm_df[i-2021].to_csv(f'../year_{i}/Kathmandu_{i}.csv', index=False)

In [21]:
# missing value for year 2024
print(ktm_df[3].shape)

ktm_df[3].isnull().sum() / ktm_df[3].shape[0] * 100

(421, 9)

Date            0.000000
dew             0.000000
humidity        0.000000
pm1            51.306413
pm10            2.137767
pm25            0.000000
pressure        0.000000
temperature     0.000000
wind-speed      0.000000
dtype: float64

In [20]:
# missing value for year 2023
print(ktm_df[2].shape)

ktm_df[2].isnull().sum() / ktm_df[2].shape[0] * 100

(371, 9)

Date            0.000000
dew            47.708895
humidity       22.641509
pm1            31.536388
pm10           30.997305
pm25           22.641509
pressure       22.641509
temperature    22.641509
wind-speed     22.641509
dtype: float64

In [13]:
ktm_df[2].Date.min(), ktm_df[2].Date.max()

('2022-12-26', '2023-12-31')

In [19]:
# missing value for year 2022
print(ktm_df[1].shape)

ktm_df[1].isnull().sum()/ktm_df[1].shape[0] *100

# no data in first 3 months of 2022

(280, 9)

Date            0.000000
dew             0.000000
humidity        0.000000
pm1            38.571429
pm10           34.642857
pm25            0.000000
pressure        0.000000
temperature     0.000000
wind-speed      0.000000
dtype: float64

In [22]:
# missing value for year 2021
print(ktm_df[0].shape)
ktm_df[0].isnull().sum() / ktm_df[0].shape[0] * 100

(371, 9)

Date            0.000000
dew             0.808625
humidity        0.808625
pm1            18.598383
pm10           18.598383
pm25            0.000000
pressure        0.808625
temperature     0.808625
wind-speed      0.808625
dtype: float64

In [26]:
subset_cols = ['dew', 'humidity', 'pm1', 'pm10', 'pm25', 'pressure','temperature', 'wind-speed']
for i, df in enumerate(ktm_df, start=2021):
    missing_rows = df[subset_cols].isnull().all(axis=1).sum()
    print(f"Year {i}: {missing_rows} rows i.e {missing_rows/df.shape[0] * 100} with all values missing in subset columns")

Year 2021: 0 rows i.e 0.0 with all values missing in subset columns
Year 2022: 0 rows i.e 0.0 with all values missing in subset columns
Year 2023: 84 rows i.e 22.641509433962266 with all values missing in subset columns
Year 2024: 0 rows i.e 0.0 with all values missing in subset columns

In [17]:
ktm_df[0].head()

,Date,dew,humidity,pm1,pm10,pm25,pressure,temperature,wind-speed
0,2020-12-28,4.0,75.0,NaN,NaN,161.0,1017.0,7.0,1.5
1,2020-12-29,3.0,75.5,NaN,NaN,163.0,1018.0,8.0,1.5
2,2020-12-30,3.0,74.6,156.0,87.0,162.0,1019.5,8.5,1.0
3,2020-12-31,3.0,72.5,NaN,NaN,176.0,1019.5,7.0,1.5
4,2021-01-01,3.0,68.5,164.0,104.0,178.0,1020.0,10.5,1.0